services:
  postgres-auth:
    image: postgres:16-alpine
    container_name: postgres-auth
    restart: unless-stopped
    environment:
      POSTGRES_DB: auth_db
      POSTGRES_USER: auth_user
      POSTGRES_PASSWORD: auth_pass
    ports:
      - '5433:5432'
    volumes:
      - postgres-auth-data:/var/lib/postgresql/data
    networks:
      - microservices-net
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -U auth_user -d auth_db']
      interval: 10s
      timeout: 5s
      retries: 5

  postgres-users:
    image: postgres:16-alpine
    container_name: postgres-users
    restart: unless-stopped
    environment:
      POSTGRES_DB: users_db
      POSTGRES_USER: users_user
      POSTGRES_PASSWORD: users_pass
    ports:
      - '5434:5432'
    volumes:
      - postgres-users-data:/var/lib/postgresql/data
    networks:
      - microservices-net
    healthcheck:
      test: [ 'CMD-SHELL', 'pg_isready -U users_user -d users_db' ]
      interval: 10s
      timeout: 5s
      retries: 5

  postgres-chat:
    image: postgres:16-alpine
    container_name: postgres-chat
    restart: unless-stopped
    environment:
      POSTGRES_DB: chat_db
      POSTGRES_USER: chat_user
      POSTGRES_PASSWORD: chat_pass
    ports:
      - '5435:5432'
    volumes:
      - postgres-chat-data:/var/lib/postgresql/data
    networks:
      - microservices-net
    healthcheck:
      test: [ 'CMD-SHELL', 'pg_isready -U chat_user -d chat_db' ]
      interval: 10s
      timeout: 5s
      retries: 5

  rabbitmq:
    image: rabbitmq:3.13-management-alpine
    container_name: rabbitmq
    restart: unless-stopped
    environment:
      RABBITMQ_DEFAULT_USER: rabbitmq_user
      RABBITMQ_DEFAULT_PASS: rabbitmq_pass
      RABBITMQ_DEFAULT_VHOST: microservices
    ports:
      - '5672:5672'
      - '15672:15672'
    volumes:
      - rabbitmq-data:/var/lib/rabbitmq
    networks:
      - microservices-net
    healthcheck:
      test: ['CMD', 'rabbitmq-diagnostics', 'ping']
      interval: 15s
      timeout: 10s
      retries: 5

  redis:
    image: redis:7-alpine
    container_name: redis
    restart: unless-stopped
    command: redis-server --requirepass redis_pass
    ports:
      - '6379:6379'
    volumes:
      - redis-data:/data
    networks:
      - microservices-net
    healthcheck:
      test: ['CMD', 'redis-cli', '-a', 'redis_pass', 'ping']
      interval: 15s
      timeout: 10s
      retries: 5


volumes:
  postgres-auth-data:
  postgres-users-data:
  postgres-chat-data:
  rabbitmq-data:
  redis-data:
networks:
  microservices-net:
    driver: bridge